<h1>Listing algorithms</h1>

<table>
  <tbody>
    <% @algorithms.each do |algorithm| %>
      <tr>
        <td><%= algorithm.name %></td>
        <td><%= algorithm.description[0...100] %>...</td>
        <td><%= algorithm.link %></td>
        <td><%= algorithm.pseudoCode[0...100] %>...</td>
        <td><%= algorithm.complexityAnalysis[0...100] %>...</td>
        <td><%= algorithm.difficulty %></td>
        <td><%= algorithm.author %></td>
        <td class='list_actions'>
  			<%= link_to 'Show', algorithm %><br/>
  			<%= link_to 'Edit', edit_algorithm_path(algorithm) %><br/>
  			<%= link_to 'Destroy', algorithm, method: :delete, 
      	data: { confirm: 'Are you sure?' } %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Algorithm', new_algorithm_path %>
